.headerWrapper {
  height: 5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.left-side {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-inline: 1.5rem;
  font-size: 1.8rem;
}

.right-side {
  width: 50%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 1.8rem;
}

.cartIcon {
  cursor: pointer;
  > svg {
    height: 30px;
    width: 30px;
  }
}
