.CheckoutItemContainer {
  width: 100%;
  display: flex;
  min-height: 10rem;
  border-bottom: 1px solid darkgrey;
  padding-block: 1.5rem;
  font-size: 2rem;
  align-items: center;
}

.ImageContainer {
  width: 23%;
  padding-right: 15px;
  display: flex;
  justify-content: center;

  > img {
    display: block;
    width: 125px;
    height: 150px;
    object-fit: contain;
  }
}

.BaseSpan {
  width: 23%;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}

.Quantity {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Arrow {
  cursor: pointer;
  user-select: none;
}

.Value {
  margin-inline: 1rem;
}

.RemoveButton {
  padding-left: 1.2rem;
  cursor: pointer;
}
