.CartItemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  > img {
    width: 20%;
    height: 60px;
    object-fit: contain;
  }
}

.ItemDetails {
  > span {
    font-size: 20px;
  }
}
